@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Lora', serif;
}

.container .card{
    box-shadow: 10px 10px 5px #aaaaaa;
}

.container p{
    margin-top: -10px;
    font-size: 15px
}

.container p span{
    font-weight: 700;
    font-size: 16px;
}

.container h5{
    color: rgba(40, 40, 167, 0.651);
    padding-bottom: 7px;
}
